<ion-header>
  <ion-toolbar>
    <ion-buttons id ="Volver" slot="start" (click)="clicBotonVolver()"><ion-icon name="arrow-undo-outline"></ion-icon></ion-buttons>
    <ion-title>Detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="color">
  <ion-item class="border">
    <ion-label>Marca</ion-label>
    <ion-input [(ngModel)]="document.data.marca"></ion-input>
  </ion-item>

  <ion-item class="border">
    <ion-label>Modelo</ion-label>
    <ion-input [(ngModel)]="document.data.modelo"></ion-input>
  </ion-item>

  <ion-item class="border">
    <ion-label>Anno</ion-label>
    <ion-input [(ngModel)]="document.data.anno"></ion-input>
  </ion-item>

  <ion-item class="border">
    <ion-label>Pais</ion-label>
    <ion-input [(ngModel)]="document.data.pais"></ion-input>
  </ion-item>

  <ion-item class="border">
    <ion-label>Precio</ion-label>
    <ion-input [(ngModel)]="document.data.precio"></ion-input>
  </ion-item >

  <ion-item class="border">
    <ion-label>Imagen</ion-label>
    <img class="imagenD" src="{{document.data.imagen}}">
  </ion-item >

  <ion-button id ="Añadir" *ngIf= "id =='C'" (click)="clickBotonInsertar()">Añadir</ion-button>
  
  <ion-button id ="Borrar" *ngIf= "id !='C'" (click)="presentAlert()">Borrar</ion-button>

  <ion-button id ="Modificar" *ngIf= "id !='C'" (click)="clicBotonModificar()">Modificar</ion-button>

  <ion-button id ="Subir Foto"  (click)="uploadImagePicker()">Subir Foto</ion-button>

  <ion-button id ="Borrar"  (click)="deleteFile(document.data.imagen)">Eliminar Foto</ion-button>

  <ion-button id="container" (click)="regularSharing()">Compartir</ion-button>
 

</ion-content>

