.color{
    --ion-background-color: aliceblue;
}

.imagenD{
    height: 200px;
    margin-right: 1000px;
}

.border{
    border-bottom: 1px solid aliceblue;
}

ion-toolbar{
    --background: rgb(1, 1, 1);
    color: aliceblue;
}

ion-button{
    --background: black;
}