<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ejemplo Firestore
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Lista de coches</h1>

<ion-grid>
  <ion-row>

    <!-- <img alt="coches" src="{{ documentCoche.data.marca }}">Coche</img>  -->
    <ion-col *ngFor="let documentCoche of arrayColeccionCoches" (click)="selecCoche(documentCoche)">
      <ion-grid>
        <ion-row>
          <h2> {{ documentCoche.data.marca }}</h2>
        </ion-row>
        <ion-row>
          <p>{{ documentCoche.data.modelo }}</p>
        </ion-row>
        <ion-row>
          <img src="{{ documentCoche.data.imagen }}"> 
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
</ion-grid>


  <ion-fab-button (click)="clickBotonInsertar()">+</ion-fab-button>
</ion-content>
